# DISCORD
ENV=dev
TOKEN=your_discord_bot_token

PREFIX=dvm
SYNC_COMMANDS=false

# LAVALINK
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

# OPTIONAL MUSIC SETTINGS
DEFAULT_VOLUME=80
DEFAULT_SEARCH=youtube
AUTO_RECONNECT=true